<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DominikSlawkowskiLab4___zad_dom.Properties.Settings.Wypożyczalnia_samochodówConnectionString"
            connectionString="Data Source=DESKTOP-F26UD2M\SQLEXPRESS;Initial Catalog=Wypożyczalnia_samochodów;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>