USE [master]
GO
/****** Object:  Database [Wypożyczalnia_samochodów]    Script Date: 02.12.2017 23:24:38 ******/
CREATE DATABASE [Wypożyczalnia_samochodów]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Wypożyczalnia_samochodów', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Wypożyczalnia_samochodów.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Wypożyczalnia_samochodów_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Wypożyczalnia_samochodów_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Wypożyczalnia_samochodów].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Wypożyczalnia_samochodów]
GO
/****** Object:  Table [dbo].[Biblioteka]    Script Date: 02.12.2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Biblioteka](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nazwa] [nvarchar](50) NULL,
	[Autor] [nvarchar](50) NULL,
	[IDUcznia] [int] NULL,
 CONSTRAINT [PK_Biblioteka] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Klienci]    Script Date: 02.12.2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Klienci](
	[ID] [int] NOT NULL,
	[Imię] [nvarchar](50) NOT NULL,
	[Nazwisko] [nvarchar](50) NOT NULL,
	[Miejscowość] [nvarchar](50) NOT NULL,
	[Opłata z góry] [money] NOT NULL,
 CONSTRAINT [PK_Klienci] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KlubyWrocławskie]    Script Date: 02.12.2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KlubyWrocławskie](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nazwa klubu] [nvarchar](50) NOT NULL,
	[Położenie] [nvarchar](50) NOT NULL,
	[Wstęp] [int] NOT NULL,
	[IDOpisu] [int] NULL,
 CONSTRAINT [PK_KlubyWrocławskie] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Oceny ucznia 1]    Script Date: 02.12.2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oceny ucznia 1](
	[ID] [int] NOT NULL,
	[Matematyka] [int] NOT NULL,
	[Język polski] [int] NOT NULL,
	[Przyroda] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Oceny ucznia 2]    Script Date: 02.12.2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oceny ucznia 2](
	[ID] [int] NOT NULL,
	[Matematyka] [int] NOT NULL,
	[Język polski] [int] NOT NULL,
	[Przyroda] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Oceny ucznia 3]    Script Date: 02.12.2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oceny ucznia 3](
	[ID] [int] NOT NULL,
	[Matematyka] [int] NOT NULL,
	[Język polski] [int] NOT NULL,
	[Przyroda] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OpisWrocławskichKlubów]    Script Date: 02.12.2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpisWrocławskichKlubów](
	[ID] [int] NOT NULL,
	[Opis] [ntext] NOT NULL,
	[Ilość gwiazdek] [int] NOT NULL,
 CONSTRAINT [PK_OpisWrocławskichKlubów] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Samochody]    Script Date: 02.12.2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Samochody](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Marka] [nvarchar](50) NOT NULL,
	[Rocznik] [int] NOT NULL,
	[Przebieg] [int] NOT NULL,
	[Kolor] [nvarchar](50) NOT NULL,
	[IDKlienta] [int] NULL,
 CONSTRAINT [PK_Samochody] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Uczniowie]    Script Date: 02.12.2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uczniowie](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Imię] [nchar](10) NOT NULL,
	[Nazwisko] [nchar](10) NOT NULL,
	[Klasa] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Uczniowie] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Uwagi uczniów]    Script Date: 02.12.2017 23:24:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uwagi uczniów](
	[ID] [int] NOT NULL,
	[Uwagi] [ntext] NULL,
 CONSTRAINT [PK_Uwagi uczniów] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Biblioteka] ON 

INSERT [dbo].[Biblioteka] ([ID], [Nazwa], [Autor], [IDUcznia]) VALUES (1, N'Zemsta', N'Aleksander Fredro', 1)
INSERT [dbo].[Biblioteka] ([ID], [Nazwa], [Autor], [IDUcznia]) VALUES (2, N'Romeo i Julia', N'William Szekspir', 2)
INSERT [dbo].[Biblioteka] ([ID], [Nazwa], [Autor], [IDUcznia]) VALUES (3, N'Granica', N'Zofia Nałkowska', 3)
SET IDENTITY_INSERT [dbo].[Biblioteka] OFF
INSERT [dbo].[Klienci] ([ID], [Imię], [Nazwisko], [Miejscowość], [Opłata z góry]) VALUES (1, N'Dominik', N'Sławkowski', N'Zielona Góra', 0.0000)
INSERT [dbo].[Klienci] ([ID], [Imię], [Nazwisko], [Miejscowość], [Opłata z góry]) VALUES (2, N'Wojciech', N'Dunaj', N'Kraków', 300.0000)
INSERT [dbo].[Klienci] ([ID], [Imię], [Nazwisko], [Miejscowość], [Opłata z góry]) VALUES (3, N'Mateusz', N'Witkowski', N'Wrocław', 200.0000)
SET IDENTITY_INSERT [dbo].[KlubyWrocławskie] ON 

INSERT [dbo].[KlubyWrocławskie] ([ID], [Nazwa klubu], [Położenie], [Wstęp], [IDOpisu]) VALUES (1, N'Wall Street', N'Niepold', 15, 1)
INSERT [dbo].[KlubyWrocławskie] ([ID], [Nazwa klubu], [Położenie], [Wstęp], [IDOpisu]) VALUES (2, N'Bezsenność', N'Niepold', 10, 2)
INSERT [dbo].[KlubyWrocławskie] ([ID], [Nazwa klubu], [Położenie], [Wstęp], [IDOpisu]) VALUES (3, N'Mundo', N'Niepold', 15, 3)
SET IDENTITY_INSERT [dbo].[KlubyWrocławskie] OFF
INSERT [dbo].[Oceny ucznia 1] ([ID], [Matematyka], [Język polski], [Przyroda]) VALUES (1, 5, 4, 5)
INSERT [dbo].[Oceny ucznia 2] ([ID], [Matematyka], [Język polski], [Przyroda]) VALUES (2, 4, 4, 3)
INSERT [dbo].[Oceny ucznia 3] ([ID], [Matematyka], [Język polski], [Przyroda]) VALUES (3, 5, 6, 3)
INSERT [dbo].[OpisWrocławskichKlubów] ([ID], [Opis], [Ilość gwiazdek]) VALUES (1, N'Muzyka z szarpnięciem, ale ostatnio mało dziewczyn :((', 4)
INSERT [dbo].[OpisWrocławskichKlubów] ([ID], [Opis], [Ilość gwiazdek]) VALUES (2, N'Dużo dziewczyn, ale tłok jak pod dziekanatem', 4)
INSERT [dbo].[OpisWrocławskichKlubów] ([ID], [Opis], [Ilość gwiazdek]) VALUES (3, N'Niby fajnie, ale jakiś lewy ten klub', 3)
SET IDENTITY_INSERT [dbo].[Samochody] ON 

INSERT [dbo].[Samochody] ([ID], [Marka], [Rocznik], [Przebieg], [Kolor], [IDKlienta]) VALUES (1, N'Audi', 2005, 40000, N'Czerwony', 5)
INSERT [dbo].[Samochody] ([ID], [Marka], [Rocznik], [Przebieg], [Kolor], [IDKlienta]) VALUES (2, N'BMW', 2010, 20000, N'Granatowy', 2)
INSERT [dbo].[Samochody] ([ID], [Marka], [Rocznik], [Przebieg], [Kolor], [IDKlienta]) VALUES (3, N'Ford', 1999, 65000, N'Czarny', 4)
SET IDENTITY_INSERT [dbo].[Samochody] OFF
SET IDENTITY_INSERT [dbo].[Uczniowie] ON 

INSERT [dbo].[Uczniowie] ([ID], [Imię], [Nazwisko], [Klasa]) VALUES (1, N'Dominik   ', N'Sławkowski', N'3d        ')
INSERT [dbo].[Uczniowie] ([ID], [Imię], [Nazwisko], [Klasa]) VALUES (2, N'Wojciech  ', N'Dunaj     ', N'3a        ')
INSERT [dbo].[Uczniowie] ([ID], [Imię], [Nazwisko], [Klasa]) VALUES (3, N'Mateusz   ', N'Witkowski ', N'3e        ')
SET IDENTITY_INSERT [dbo].[Uczniowie] OFF
INSERT [dbo].[Uwagi uczniów] ([ID], [Uwagi]) VALUES (1, N'Nie słuchał nauczyciela na lekcji języka polskiego, rozmawial i przeszkadział innym uczniom')
INSERT [dbo].[Uwagi uczniów] ([ID], [Uwagi]) VALUES (2, N'')
INSERT [dbo].[Uwagi uczniów] ([ID], [Uwagi]) VALUES (3, N'Wyskoczyl przez okno po dowiedzeniu sie o niezapowiedzianej kartkowce!')
ALTER TABLE [dbo].[Biblioteka]  WITH CHECK ADD  CONSTRAINT [FK_Biblioteka_Uczniowie] FOREIGN KEY([IDUcznia])
REFERENCES [dbo].[Uczniowie] ([ID])
GO
ALTER TABLE [dbo].[Biblioteka] CHECK CONSTRAINT [FK_Biblioteka_Uczniowie]
GO
ALTER TABLE [dbo].[Biblioteka]  WITH CHECK ADD  CONSTRAINT [FK_Biblioteka_Uczniowie1] FOREIGN KEY([IDUcznia])
REFERENCES [dbo].[Uczniowie] ([ID])
GO
ALTER TABLE [dbo].[Biblioteka] CHECK CONSTRAINT [FK_Biblioteka_Uczniowie1]
GO
ALTER TABLE [dbo].[Klienci]  WITH CHECK ADD  CONSTRAINT [FK_Klienci_Samochody] FOREIGN KEY([ID])
REFERENCES [dbo].[Samochody] ([ID])
GO
ALTER TABLE [dbo].[Klienci] CHECK CONSTRAINT [FK_Klienci_Samochody]
GO
ALTER TABLE [dbo].[KlubyWrocławskie]  WITH CHECK ADD  CONSTRAINT [FK_KlubyWrocławskie_OpisWrocławskichKlubów] FOREIGN KEY([IDOpisu])
REFERENCES [dbo].[OpisWrocławskichKlubów] ([ID])
GO
ALTER TABLE [dbo].[KlubyWrocławskie] CHECK CONSTRAINT [FK_KlubyWrocławskie_OpisWrocławskichKlubów]
GO
ALTER TABLE [dbo].[Oceny ucznia 1]  WITH CHECK ADD  CONSTRAINT [FK_Oceny ucznia 1_Uczniowie] FOREIGN KEY([ID])
REFERENCES [dbo].[Uczniowie] ([ID])
GO
ALTER TABLE [dbo].[Oceny ucznia 1] CHECK CONSTRAINT [FK_Oceny ucznia 1_Uczniowie]
GO
ALTER TABLE [dbo].[Oceny ucznia 2]  WITH CHECK ADD  CONSTRAINT [FK_Oceny ucznia 2_Uczniowie] FOREIGN KEY([ID])
REFERENCES [dbo].[Uczniowie] ([ID])
GO
ALTER TABLE [dbo].[Oceny ucznia 2] CHECK CONSTRAINT [FK_Oceny ucznia 2_Uczniowie]
GO
ALTER TABLE [dbo].[Oceny ucznia 3]  WITH CHECK ADD  CONSTRAINT [FK_Oceny ucznia 3_Uczniowie] FOREIGN KEY([ID])
REFERENCES [dbo].[Uczniowie] ([ID])
GO
ALTER TABLE [dbo].[Oceny ucznia 3] CHECK CONSTRAINT [FK_Oceny ucznia 3_Uczniowie]
GO
ALTER TABLE [dbo].[OpisWrocławskichKlubów]  WITH CHECK ADD  CONSTRAINT [FK_OpisWrocławskichKlubów_OpisWrocławskichKlubów] FOREIGN KEY([ID])
REFERENCES [dbo].[OpisWrocławskichKlubów] ([ID])
GO
ALTER TABLE [dbo].[OpisWrocławskichKlubów] CHECK CONSTRAINT [FK_OpisWrocławskichKlubów_OpisWrocławskichKlubów]
GO
ALTER TABLE [dbo].[Samochody]  WITH CHECK ADD  CONSTRAINT [FK_Samochody_Klienci] FOREIGN KEY([IDKlienta])
REFERENCES [dbo].[Klienci] ([ID])
GO
ALTER TABLE [dbo].[Samochody] CHECK CONSTRAINT [FK_Samochody_Klienci]
GO
ALTER TABLE [dbo].[Samochody]  WITH CHECK ADD  CONSTRAINT [FK_Samochody_Samochody] FOREIGN KEY([ID])
REFERENCES [dbo].[Samochody] ([ID])
GO
ALTER TABLE [dbo].[Samochody] CHECK CONSTRAINT [FK_Samochody_Samochody]
GO
ALTER TABLE [dbo].[Uczniowie]  WITH CHECK ADD  CONSTRAINT [FK_Uczniowie_Uczniowie] FOREIGN KEY([ID])
REFERENCES [dbo].[Uczniowie] ([ID])
GO
ALTER TABLE [dbo].[Uczniowie] CHECK CONSTRAINT [FK_Uczniowie_Uczniowie]
GO
ALTER TABLE [dbo].[Uczniowie]  WITH CHECK ADD  CONSTRAINT [FK_Uczniowie_Uczniowie1] FOREIGN KEY([ID])
REFERENCES [dbo].[Uczniowie] ([ID])
GO
ALTER TABLE [dbo].[Uczniowie] CHECK CONSTRAINT [FK_Uczniowie_Uczniowie1]
GO
ALTER TABLE [dbo].[Uwagi uczniów]  WITH CHECK ADD  CONSTRAINT [FK_Uwagi uczniów_Uczniowie] FOREIGN KEY([ID])
REFERENCES [dbo].[Uczniowie] ([ID])
GO
ALTER TABLE [dbo].[Uwagi uczniów] CHECK CONSTRAINT [FK_Uwagi uczniów_Uczniowie]
GO
USE [master]
GO
